body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
}

/* ................NAVBAR CSS .................. */

.nav-item:hover{
  border-bottom: 1px solid;
  border-color: #f69206;
  font-weight: 200;
  /* text-transform: uppercase; */
}
.nav-link:hover{
  color: rgb(241, 9, 9);
}
.shop{
 color: #fd8b61;
}

/* HERO IMAGE */
#hero{
  height: 86vh !important;
  width: 100vw !important;
  margin-top: 1vh;
}

/* CARDS CSS */
#card{
  height: 30vh;
  width: 15vw;
}

/* ...............ABOUT US PAGE CSS............... */

.about{
  margin-top: 15vh;
}
.since{
  display: flex;
  align-items: center;
  justify-content: center;
}
.MainAboutText{
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
}
#AboutBTN{
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.InfoAboutText{
  display:flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}
.Box{
  
  width: 20vw;
  height: 20vh;

}

.hero-title{
  font-size: 3rem;
}
#hero1{
  height: 100vh;
  width: 100vw;
  margin-top: 1vh;
  object-fit: cover;
}

.AboutBackgroundIMG{
  width: 100vw;
  height: 90vh;
}
.since{
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
}
#bacscket{
  height: 6vh;
  width: 5vw;
  align-items: center;
  display: flex;
  justify-content: center;
}
#aboutimg{
  height: 52vh;
}

.GiftSections{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10vh;
}
.h6{
  margin-top: 5vh;
  font-weight: bold;
  color: gray;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 20vh;
  width: 100vw;
  background-color:#F2295B;
}
.AboutPageBackground{
  width: 100vw;
  height: 59vh;
  overflow: hidden;
}
#imagetext{
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:flex-start;
}


/* ABOUT PAGE FOOTER CSS */
.fotter{
  background-color:#7A7A7A;
  height: 20vh;
  /* z-index: 10; */
}
.footerleft ul li{
  text-decoration: none;
  list-style: none;
  font-weight: bold;
  text-transform: capitalize;
  color: #f4efe8;
  cursor: pointer;
}
.footerleft ul li:hover{
  color: red
}

.card-footer{
  height: 10vh;
}


/* ......................PRODUCT CSS START'S HERE................... */

#LeftTtn{
  margin-top: 10vh;
}

#SidebarFilter ul li{ 
  text-decoration: none;
  list-style: none;
  font-weight: bold;
  color: rgb(190, 31, 31);
  cursor: pointer;
  margin: 2vh;
}
#SidebarFilter ul li:hover{
  color:brown
}

.FilterSidebarHeading{
  font-size: 3.5vh;
  /* align-items: start;
  justify-content: start;
  display: flex; */
  margin-top: 5vh;
  font-weight: bold;
  color: gray;
}

.form-range{
 color: rgba(194, 6, 6, 0.651);
}

.FilterHeading{
 text-transform: uppercase;
 font-weight: bold;
 color: gray;
}

#PruductID{
  margin-top: 8vh;
}


/* ..............MEN ITEMS IN FILTER SECTION CSS..................... */

#MenItems{
  margin-top: 15vh;
  display:flex;
  justify-content: center;
  /* align-items: center; */
}

.card{
  max-height: 60vh;
  overflow: scroll;

}

#img{
  max-height: 25vh;
  object-fit: cover;
}

/* CONTACT COMPONET CSS */

#ContactCard{
  margin-top: 15vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* ...............CONTACT COMPONENT MAP CSS ....................*/

.ContactForm{
  padding: 5vh;
  border: 1px solid black;
  height: 50vh;
  width: 80vw;
  margin-top: 10vh;
  margin-bottom: 3vh;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(97, 92, 92);
  background-color:#fbfcfc;
  overflow: scroll;
}
.input{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*.........................FOOTER CSS CLASSES.................. */

#footerhover:hover{
color: #f4efe8;
background-color: #F2295B;
}


/* ...............LOGIN PAGE CSS ......................... */
#login{
  margin-top:20vh ;
}

.form-style input{
	border:0;
	height:50px;
	border-radius:0;
border-bottom:1px solid #ebebeb;	
}
.form-style input:focus{
border-bottom:1px solid #007bff;	
box-shadow:none;
outline:0;
background-color:#ebebeb;	
}
.sideline {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
	color:#ccc;
}
button{
height:50px;	
}
.sideline:before,
.sideline:after {
    content: '';
    border-top: 1px solid #ebebeb;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

.sideline:after {
    margin: 0 0 0 20px;
}